@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Geologica:wght@300&family=Raleway&display=swap');

.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem  1rem 3rem  ;
    background-color: var(--background);
    color: var(--texto);
    box-shadow: 0 0 10px rgba(43,168,74,.2);
  }

  .navegacao img{
    width: 5rem;
    height: 5rem; 
  }

  .link-header{
    color: var(--texto);
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
  }