:root {
    --texto: #fcfffc;
    --background: #040f0f;
    --destaque: #2ba84a;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Geologica', sans-serif;
}

a{
    text-decoration: none;
}

main{
align-items: center;
}

.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 74%;
    margin-left: 13%;
}

.post{
    width: 100%;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

.post-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.foto-coluna{
    height: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.user-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-coluna{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    min-width: 100%;
}

.autor-post{
    margin-left:1rem;
    font-size: 1.5rem;
    color: var(--texto);
}

.texto-post{
    margin-left:1rem;
    color: var(--texto);
    text-align: justify;
    width: 100%;
}

.container-album,
.container-musica{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #2f3336;
    margin-left: 4rem;
}	

.album-poster,
.music-poster{
    width: 100px;
    height: 100px;
    border-radius: 10px 0  0 10px;
    margin: 0 16px 0 0;
}

.titulo-album,
.titulo-musica{
    font-size: 1.5rem;
    padding-right: 1rem;
    color: var(--destaque);
    margin-top: 0.4rem;
}

.artist-name{
    font-size: 14px;
    color: var(--destaque);
    margin-bottom: 1rem;
}

.interacoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 3.6rem;
}

.botao-interacao,
.likes-count{
    color: var(--destaque);
}

.botao-criarpost {
    padding: .8rem 1rem .8rem 1rem;
    margin-left: 1rem;
    background-color: var(--destaque);
    border-radius: 50%;
    color: #000;
    font-size: 2rem;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#search-bar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: var(--background);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
  }

#search-bar input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    color: #fff;
    outline: none;
}

#search-bar input::placeholder {
    color: #fff;
}

#search-bar button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#search-results {
    height: 300px;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

#search-results div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#search-results img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.post-configs{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-configs form{
    width: 100%;
    height: 25rem;
}

.post-configs textarea{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #2f3336;
    background-color: var(--background);
    color: var(--texto);
    padding: 1rem;
    font-size: 1rem;
    resize: none;
}

.btn-postar{
    margin-top: 10rem;
}

#album-name,
#music-name{
    font-size: 1.5rem;
    color: var(--destaque);
}

#foto-album,
#foto-musica{
    width: 50%;
    height: 50%;
}

.star-rating input {
    display: none;
  }
  .star-rating label {
    color: var(--destaque);
    font-size: 30px;
    padding: 0;
    cursor: pointer;
  }
  
  .star-rating input:checked ~ label,
  .star-rating label:hover ~ label {
    color: var(--texto);
  }
  
  .profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .textoPerfil{
    margin-left: 1rem ;
    width: 60%;
  }

  .textoPerfil h1{
    color: var(--texto);
    font-size: 2rem;
  }

    .textoPerfil span{
        color: var(--texto);
        font-size: 1rem;
        text-align: justify;
    }

    .botao-editar-perfil button{
        padding: .5rem;
        margin-top: 2rem;
        background-color: var(--background);
        border: 1px solid var(--destaque);
        border-radius: 10px;
        color: var(--texto);
        font-size: 1rem;
    }

    #popup{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background: var(--background);
        padding: 20px;
        border-radius: 5px;
        width: 80%;
        max-width: 800px;
        box-sizing: border-box;
    }
    
    .header-editar-perfil{
        color: var(--texto);
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header-editar-perfil span{
        font-weight: 600;
    }
    
    #btn-salvar-edicao{
        background-color: var(--background);
        border: 1px solid var(--destaque);
        border-radius: 64px;
        padding: 0.5rem;
        color: #fff;
    }
    
    
    .editar-perfil-inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #nome,
    #bio{
        width: 80%;
        margin-top: 1rem;
        background-color: var(--background);
        border: 1px solid var(--destaque);
        color: var(--texto);
        padding: 1rem;
    }

    .img-inputs{
        display: flex;
        width: 100%;
        padding: 0;
    }

    .comentario-form{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .comment-input{
        width: 80%;
        padding: 1rem;
        background-color: var(--background);
        border: 1px solid var(--destaque);
        color: var(--texto);
    }

    .comment-button{
        width: 15%;
        background-color: var(--background);
        border: 1px solid var(--destaque);
        color: var(--texto);
    }

    .comment{
        color: var(--texto);
        margin-top: 3rem;
        width: 80%;
        margin-left: 10%;
        display: flex;

    }

    .nome-texto{
        margin-left: 1rem;
    }

@media screen and (max-width: 768px) {  

    .posts{
        max-width: 100%;
        margin-left: 0;
    }

    .post-header{
        align-items: flex-start;
    }

    .foto-coluna{
        max-width: 100%;
        margin-left: 0;
    }


    .texto-post,
    .autor-post{
        font-size: 1rem;
        width: 90%;
        margin: 0;
    }

    a,
    .post-header{
        width: 90%;
        margin-left: 5%;
    }

    .container-album,
    .container-musica{
        margin-left: 0;
    }

    .album-poster,
    .music-poster{
        border-radius: 10px 0 0 10px;
        margin: 0;
    }

    .column{
        margin-left: .6rem;
    }

    .titulo-album,
    .titulo-musica{
        padding-right: 0;
    }

    .interacoes{
        margin-left: 0;
    }

    .botao-interacao,
    .likes-count{
        margin: 0;
        width: 30%;
    }


    #search-bar {
        width: 90%;
        max-width: 90%;
    }

    .post-configs textarea{
        height: 50%;
    }

    .star-rating label {
        font-size: 1.3rem;
      }
    
    .btn-postar{
        margin-top: 5rem;
    }

}
    