:root {
    --texto: #fff;
    --background: #14181D;
    --destaque: #4E9F3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Geologica', sans-serif;
}

.post-container {
    background-color: var(--background);
    color: var(--destaque);
    margin: 0;
    padding: 0;
}

.botão-criarpost {
    padding: 1rem;
    margin-left: 1rem;
    background-color: var(--destaque);
    border-radius: 50%;
    color: #000;
    font-size: 2rem;
}

.artist-name {
    font-size: 14px;
    color: #326428  ;
    margin-bottom: 1rem;
}

.titulo-musica,
.titulo-album {
    font-size: 1.5rem;
    padding-right: 1rem;
    color: var(--destaque);
    margin-top: 0.4rem;
}

.likes-count{
    font-size: 16px;
    color: #fff;

}

.nome-texto{
    margin-left: 0.5rem;
    
}

.foto-texto{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    overflow: auto;
    word-wrap: break-word;
}

.username {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    margin: 0;
}

.container-imagem {
    min-width: 50px;  /* Or whatever size you want */
    min-height: 50px; /* Or whatever size you want */
  }

.card-text {
    font-size: 16px;
    color: #fff;
    margin: 0;
    text-align: justify;
}

.comment {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
}


.comment-input {
    width: 80%;
    background-color: var(--background);
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 1rem;
}

.comment-count{
    color: #fff;
    font-size: 16px;
}

.comment-input :focus {
    outline: none;
}

.comment-button {
    width: 19%;
    font-size: 1vw;
    padding: 10px 20px;
    background-color: var(--destaque);
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.botao-like:not(:hover) {
    color: var(--destaque);
}

a {
    text-decoration: none;
}

.container-musica,
.container-album{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    border: 1px solid #2f3336;
    width: 60vw;
}

.container-musica img,
.container-album img{
    border-radius:  16px 0 0 16px;
}

#charts-artistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-left: 10%;
}

#charts-artistas img {
    max-width: 80vw;
    height: auto;
    border-radius: 50%;
}

#charts-artistas h3,
p {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #ffffff;
}

.chart-artistas {
    margin: 2rem;
    text-align: center;

}

#search-bar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: var(--background);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
  }

#search-bar input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    color: #fff;
    outline: none;
}

#search-bar input::placeholder {
    color: #fff;
}

#search-bar button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#search-results {
    height: 300px;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

#search-results div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#search-results img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

#comment {
    margin-left: 1rem;
    width: 70%;
    height: 100%;
}

#music-name,
#album-name {
    color: #fff;
}

.user-profile-picture {
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
  }

#texto{
    width: 20rem;
    height: 20vh;
}

#foto-musica,
#foto-album{
        width: 30%;
        height: 30%;
    }


.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.music-poster,
.album-poster{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

#percentage{
    font-size: 1.5rem;
    color: #fff;
    margin-left: 1rem;
}

.comentario-form{
    width: 100%;
}   

.container-comentario{
    background-color: var(--background);
    display: flex;
    flex-direction: column ;
}

.profile-picture{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-right: 1rem;
}

.textoPerfil{
    color: #fff;
}

.botao-editar-perfil{
    display: flex; 
    flex-direction: 
    column; justify-content: 
    flex-end;
}

.botao-editar-perfil button{
    background-color: var(--background);
    border: 1px solid var(--destaque);
    border-radius: 64px;
    padding: 0.5rem;
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
}

#popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: var(--background);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
}

.header-editar-perfil{
    color: var(--texto);
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-editar-perfil span{
    font-weight: 600;
}

#btn-salvar-edicao{
    background-color: var(--background);
    border: 1px solid var(--destaque);
    border-radius: 64px;
    padding: 0.5rem;
    color: #fff;
}


.editar-perfil-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#nome,
#bio{
    width: 80%;
    margin-top: 1rem;
    background-color: var(--background);
    border: 1px solid var(--destaque);
    color: var(--texto);
    padding: 1rem;
}