:root {
  --linhas: #7C6C77;
  --texto: #fcfffc;
  --background: #000505;
  --destaque: #2ba84a;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  font-family: 'Geologica', sans-serif;
}

.navegacao{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--background);
  color: var(--texto);
}

.titulo-logo{
  font-size: 2rem;
  color: var(--texto);
  margin-left: 1rem;
}

.link-header{
  color: var(--texto);
  text-decoration: none;
  font-size: 1.5rem;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--texto);
}

.welcome-text{
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--texto);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.welcome-text strong{
  color: var(--destaque);
}

.icone{
  font-size: 5rem;
  color: var(--texto);
}

.block{
  width: 100%;
  margin-bottom: 7rem;
}

.block-container{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10% ;
}

.first-block-image{
  width: 50%;
  height: 100%;
}

.first-block-image img{
  width: 80%;
  height: 80%;
  border-radius: 8px;
  box-shadow: #3d3d3d -20px -20px 10px;
}

.first-block{
  width: 50%;
  background-color: var(--destaque);
  text-align: center;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: #3d3d3d 20px 20px 10px;
}

.first-block span{
  font-size: 2em;
  color: var(--texto);
}

.second-block{
  width: 60%;
  background-color: var(--destaque);
  text-align: center;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: #3d3d3d -20px -20px 10px;
}

.second-block span{
  font-size: 2em;
  color: var(--texto);
}

.second-block-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.second-block-image img{
  width: 75%;
  height: 100%;
  border-radius: 8px;
  box-shadow: #3d3d3d 20px 20px 10px;
}

.third-block-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
}

.third-block-image img{
  width: 70%;
  height: 100%;
  border-radius: 8px;
  box-shadow: #3d3d3d -20px 20px 10px;
}

.third-block{
  width: 60%;
  background-color: var(--destaque);
  text-align: center;
  padding: 5rem;
  box-shadow: #3d3d3d 20px 20px 10px;
  border-radius: 8px;
}

.third-block span{
  font-size: 2em;
  color: var(--texto);
}

.fourth-block{
  width:60%;
  border-radius: 8px;
  background-color: var(--destaque);
  text-align: center;
  padding: 5rem;
  box-shadow: #3d3d3d -20px 20px 10px;
}

.fourth-block span{
  font-size: 2em;
  color: var(--texto);
}

.fourth-block-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.fourth-block-image img{
  width: 69%;
  height: 69%;
  border-radius: 8px;
  box-shadow: #3d3d3d 20px -20px 10px;
}

@media screen and (max-width: 852px){
  .first-block{
      width: 80%;
      margin-left: 10%;
  }

  .second-block{
      width: 80%;
      margin-left: 10%;
  }

  .third-block{
      width: 80%;
      margin-left: 10%;
  }

  .fourth-block{
      width: 80%;
      margin-left: 10%;
  }

  .link-header{
      font-size: 1rem;
  }
  
}