:root {
    /* --texto: #fff;
    --background: #050505;
    --destaque: #6b35e8; */

    --linhas: #7C6C77;
    --texto: #fcfffc;
    --background: #000505;
    --destaque: #2ba84a;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Geologica:wght@300&family=Raleway&display=swap');
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .alert{
    color: var(--texto);
    background-color: var(--destaque);
    border: var(--background);
    border-radius: 0;
}

  a{
    text-decoration: none;
    color: var(--texto);
  }
  
  main{
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--texto);
}
form{
    width: 100%;
    max-width: 500px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid var(--destaque);
    display: flex;
    flex-direction: column;
    align-items: center;
}

  input{
    outline: none;
    color: var(--texto);
    text-align: center;
  }

#container__central__form__senha,
.container__central__form__email,
.container__central__form__nome,
#container__central__form__confirmarSenha{
    width:100%;
    background-color: var(--background);
    border: none;
}

.password-container,
.email-container,
.nome-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width:100%;
    border: 1px solid var(--destaque);
    background-color: var(--background);
    padding: .5rem;
    border-radius: 8px;
}

.password-container button{
    border: none;
}

#toggleIcon1,
#toggleIcon2{
    background-color: var(--background);
    border: none;
    color: var(--destaque);
    font-size: 1rem;
    cursor: pointer;
    
}

.btn-login{
    margin-top: 1rem;
    width: 60%;
    border: none;
    background-color: var(--destaque);
    color: var(--texto);
    padding: .5rem;
    border-radius: 8px;
    cursor: pointer;
}

.novoUsuario{
    margin-top: 1rem;
    color: var(--destaque);
    cursor: pointer;
    text-align: center;
}

.picture__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#container__central__form__imagem{
    display: none;
}

#container__central__form__label{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 1px solid var(--destaque);
}

#icone{
    display: none;
}

img.picture__img{
    margin: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--destaque);
}

#container__central__form__button{
    margin-top: 1rem;
    width: 60%;
    border: none;
    background-color: var(--destaque);
    color: var(--texto);
    padding: .5rem;
    border-radius: 8px;
    cursor: pointer;
}