<body id="corpo">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 p-0"></div>
                <div class="col-md-1 p-0">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="/img/TuneTalk Logo.svg" alt="Logo" class="d-flex">
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 p-0  d-flex align-items-center" id="header__titulo">
                    <h1>Tune Talk</h1>
                </div>
                <div class="col-md-3 p-0  d-flex align-items-center header__links"><a href="/login">Faça
                        login</a></div>
                <div class="col-md-3 p-0 d-flex align-items-center header__links"><a href="/cadastrar">Crie sua conta</a></div>
                <div class="col-md-3 p-0"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 d-flex text-center align-items-center justify-content-center">
                    <h2 id="header__Subtitulo">
                        Dê opiniões sobre músicas que você gostou.<br>
                        Descubra outras opiniões.<br>
                        Debata livremente sobre música.
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="button" class="btn mt-5" id="main__btn"><a class="link" href="/cadastrar">COMECE AGORA — É GRÁTIS</a></button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 d-flex justify-content-center" id="disponibilidade">
                    <p id="disponibilidade__texto">A rede social para amantes de música. Também disponível em sistemas:
                        <i class="bi bi-android2"></i>
                        <i class="bi bi-apple"></i></p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 d-flex justify-content-evenly mt-5 mb-5">
                    <img src="./assets/album 10.png" alt="">
                    <img src="./assets/album 11.png" alt="">
                    <img src="./assets/album 12.png" alt="">
                    <img src="./assets/album 13.png" alt="">
                    <img src="./assets/album 14.png" alt="">
                    <img src="./assets/album 15.png" alt="">
                    <img src="./assets/album 16 (Personalizado).jpg" alt="">
                    <img src="./assets/album 17.jpg" alt="">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <p id="beneficios">Tune talk permite você...</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2"></div>
                <div class="col-md-9 mb-5 ml-5 d-flex flex-wrap">
                    <span class="beneficios__spans"><i class="bi bi-headphones"></i>Mostrar para os outros as músicas
                        que você tem ouvido e discutir sobre elas em um ambiente virtual com respeito.</span>
                    <span class="beneficios__spans"><i class="bi bi-headphones"></i>Mostrar para os outros as músicas
                        que você tem ouvido e discutir sobre elas em um ambiente virtual com respeito.</span>
                    <span class="beneficios__spans"><i class="bi bi-headphones"></i>Mostrar para os outros as músicas
                        que você tem ouvido e discutir sobre elas em um ambiente virtual com respeito.</span>
                    <span class="beneficios__spans"><i class="bi bi-headphones"></i>Mostrar para os outros as músicas
                        que você tem ouvido e discutir sobre elas em um ambiente virtual com respeito.</span>
                    <span class="beneficios__spans"><i class="bi bi-headphones"></i>Mostrar para os outros as músicas
                        que você tem ouvido e discutir sobre elas em um ambiente virtual com respeito.</span>
                    <span class="beneficios__spans"><i class="bi bi-headphones"></i>Mostrar para os outros as músicas
                        que você tem ouvido e discutir sobre elas em um ambiente virtual com respeito.</span>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </main>
</body>

