


<div class="main">
    <div  data-aos="zoom-in" class="welcome-text">
        <span >
            Olá, seja bem-vindo(a) ao <strong>TuneTalk</strong> <br> Aqui você pode
        </span>
    </div>
    <div>
        <i class="bi bi-arrow-down icone"></i>
    </div>
    <div class="block">
        <div class="block-container">
            <div class="first-block-image" data-aos="fade-up-right">
                <img src="/img/debateIMG.jpg" alt="">
            </div>
            <div data-aos="fade-down-left" class="first-block">
                <span>Debater livremente sobre músicas</span>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-container">
            <div data-aos="fade-up-right" class="second-block">
                <span>compartilhar sua banda ou artista favorito</span>
            </div>
            <div class="second-block-image" data-aos="fade-up-left">
                <img src="/img/albunsIMG.png" alt="">
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-container">
            <div class="third-block-image" data-aos="fade-up-right">
                <img src="/img/betles.png" alt="">
            </div>
            <div data-aos="fade-down-left" class="third-block">
                <span>Personalizar seu perfil como quiser</span>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-container">
            <div data-aos="fade-right" class="fourth-block">
                <span>Conhecer músicas e artistas novos</span>
            </div>
            <div class="fourth-block-image" data-aos="fade-up-right">
                <img src="/img/musicasIMG.jpg" alt="">
            </div>
        </div>
    </div>
</div>
