


<div class="main">
    <div  data-aos="zoom-in" class="welcome-text">
        <span >
            Olá seja bem vindo(a) ao <strong>TuneTalk</strong> <br> Aqui você pode
        </span>
    </div>
    <div>
        <i class="bi bi-arrow-down icone"></i>
    </div>
    <div class="block">
        <div data-aos="fade-left" class="first-block">
            <span>Debater livremente sobre músicas</span>
        </div>
    </div>
    <div class="block">
        <div data-aos="fade-right" class="second-block">
            <span>compartilhar sua banda ou artista favorito</span>
        </div>
    </div>
    <div class="block">
        <div data-aos="fade-left" class="third-block">
            <span>Personalizar seu perfil como quiser</span>
        </div>
    </div>
    <div class="block">
        <div data-aos="fade-right" class="fourth-block">
            <span>Conhecer músicas e artistas novos</span>
        </div>
    </div>
</div>
