<div id="bodyLogin">
    <div class="container-fluid containerInputs" >
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center align-items-center tela">
                    <form action="/login" method="post">
                        <h1 class="text-center mb-4">Login</h1>
                        <div class="mb-3">                     
                            <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@gmail.com" required>
                        </div>
                        <div class="password-container">
                            <input type="password" name="senha" id="container__central__form__senha" placeholder="Senha" required>
                            <button style="background: none; margin: 0; color: #000;" type="button" onclick="togglePasswordVisibility('container__central__form__senha', 'toggleIcon1')"> <i id="toggleIcon1" class="bi bi-eye-slash"></i>
                            </button>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                        </div>
                        <a href="/cadastrar">
                            <span class="novoUsuario">Não tem uma conta ainda? Cadastre-se aqui</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
