<body>
    <main>
        <div id="background">
            <div class="col-4"></div>
            <div class="col-4 container-fluid">
                <h1 id="container__central__titulo">TuneTalk</h1>
                <form action="" id="container__central__forms">
                    <input id="container__central__forms__nome" type="text" placeholder="Email">
                    <input id="container__central__forms__senha" type="password" placeholder="Senha">
                </form>
                <button id="container__central__botao"><a id="container__central__novo__link" href="./indexPerfil.html">entrar</a></button>
                <p id="container__central__novo">Não tem uma conta? <a id="container__central__novo__link" href="/cadastrar">Crie-a aqui</a></p>
                <p id="container__central__direito">© 2023 TuneTalk. Todos os direitos reservados.<br>Termos de Serviço
                    | Política de Privacidade</p>
            </div>
            <div class="col-4"></div>
        </div>
    </main>
</body>